body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('image/background.jpg'); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.form-box, .todo-box {
    width: 100%;
}

.container.todo-box {
    padding: 30px; 
    border-radius: 15px; 
}

h1 {
    color: white;
    margin-bottom: 20px;
}
.input-field {
    position: relative;
    margin-bottom: 20px;
}
.input-field input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}
.input-field .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 18px;
    color: #aaa;
}
.forgot a {
    color: #12e916;
    text-decoration: none;
}
.forgot a:hover {
    text-decoration: underline;
}
.input-field.button input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: #12e916;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.input-field.button input:hover {
    background: #12e916;
}
.login-signup {
    margin-top: 20px;
}
.login-signup .text {
    font-size: 14px;
    color: white;
}
.login-signup .signup-link {
    color: #12e916;
    text-decoration: none;
}
.login-signup .signup-link:hover {
    text-decoration: underline;
}
.todo-box {
    width: 100%;
}
#new-todo{
    padding: 12px;
    height: 10px;
    border-radius: 10px;
}
#todo-list {
    list-style-type: none;
    padding: 0;
}
#todo-list li {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#add-todo {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
button {
    margin-left: 10px;
}
